body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    text-align: center;
}

.titulo {
    color: #d16ba5;
    margin-top: 30px;
}

.formulario {
    background-color: #ffb9ce;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(209, 107, 165, 0.3);
}

.formulario label{
    display: grid;
    margin-bottom: 15px;
    color: #a64d79;
    font-weight: bold;
}

.formulario input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #f2b6cf;
    border-radius: 6px;
}

 button {
    background-color: #ff9ac1;
    color: white;
    border: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

 button:hover {
    background-color: #d481a1;
    cursor: pointer;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #a64d79;
    font-weight: bold;
}
